@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap%27');

:root {
  --primary-color: #404040;
  --primary-orange: #f08700;
  --primary-black: rgb(255, 255, 255, 0);
}

body {
  font-family: 'Montserrat'
}

nav {
  height: 80px;
  text-transform: uppercase;
}

a.nav-link {
  letter-spacing: 0.05rem;
  cursor: pointer;
  border-top: 0.1875rem solid var(--primary-black);
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-color) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}