@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Permanent+Marker&family=Rock+Salt&display=swap');


:root {
  --primary-color: #404040;
  --primary-orange: #f08700;
  --primary-black: rgb(255, 255, 255, 0);
  --primary-black-md: #404040;
  --primary-white-md: rgb(236, 236, 236);
  --primary-grey: #b8b8b828;
}

.body {
  font-family: 'Montserrat';
  font-weight: 800;
  color: var(--primary-black-md);
}

.orange-span {
  color: var(--primary-orange);
}

.orange-span-2 {
  color: var(--primary-orange);
  font-weight: 400;
}

/******************************* NAVBAR ********************************/
nav {
  height: 80px;
  font-weight: 400;
}

a.nav-link {
  letter-spacing: 0.05rem;
  cursor: pointer;
  border-top: 0.1875rem solid var(--primary-black);
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-color) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}


/******************************* HEADER ********************************/

.header-wraper {
  background: url(Fond-section-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.header-wraper > .main > div > h1 {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 8rem;
  color: var(--primary-grey);
}

.header-wraper > .main > div > h2 {
  position: relative;
  bottom: 50px;
  font-size: 2.3rem;
  font-family: 'Rock Salt';
  color: var(--primary-orange);
}

.header-wraper > .main > div > .CVButton {
  border-radius: 0px;
  font-size: 0.9rem;
  width: 190px;
  font-weight: 400;
  background-color: var(--primary-black-md);
}

.last > div > .title {
  font-size: 3rem;
}

.last > div > .titleText {
  font-weight: 400;
  width: 60%;
}

/******************************* MESPROJETS ********************************/

.container > .row > .mainTitle {
  font-size: 2rem;
}

.container > .row > .border-bottom {
  border: solid;
  border-color: var(--primary-orange) white;
}

.divProjects > div > div {
  background-color: var(--primary-black-md);
  color: var(--primary-white-md);
  padding: 3rem 4rem 3rem 4rem;
}

.divProjects > div > div > div {
  padding-bottom: 1rem;
}

.divProjects > div > div > .text-uppercase {
  font-size: 2rem;
}

.divProjects > div > div > a {
  border-radius: 0px !important;
}

.divProjects > div > div > a:hover {
  color: var(--primary-orange);
}

.divProjects > .lowerLink > a {
  font-size: 1.3rem;
}




/******************************* A PROPOS ********************************/

.container > .row > .shortDescription > div {
}

.container > .row > .shortDescription > .title {
  font-size: 2.8rem;
}

.container > .row > .shortDescription > .name{
  font-size: 2rem;
  font-family: 'Rock Salt';
  color: var(--primary-orange);
  position: relative;
  bottom: 1.5rem;
}

/******************************* CONTACT ********************************/

.contact > div {
  height: 30vh;
}

.contact > div > .leftText {
  font-size: 1.2rem;
}

.contact > div > div > .title{
  font-size: 5rem;
}






/******************************* HEADER ********************************/


@media only screen and (max-width: 991px) {

  .header-wraper > .main > div > h1 {
    font-size: 4rem;
  }
  
  .header-wraper > .main > div > h2 {
    font-size: 1.7rem;
    bottom: 30px;
  }
  
  .header-wraper > .main > div > .CVButton {
    width: 130px;
    font-size: 0.5rem;
  }

}